*{
     margin : 0;
     padding : 0;
     /*box-sizing: border-box;*/
}
body{
     height: 100vh;
     display: flex;
     background-color: black;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
}
p{
     font-size: 10rem;
}
span{
     display: inline-block;
     animation: rotateY 3s linear infinite;
}
@keyframes rotateY{
     0%{
          transform: rotateY(0deg);
     }
     100%{
          transform: rotateY(360deg);
     }
}